<div class="card bg-opacity-95">
  <div class="imageContainer">
    <img
      src="https://qtxasset.com/quartz/qcloud5/media/image/Zelis%20Primary%20Logo%20(Web)%20RGB-PNG%20Blue_0.png?VersionId=OCjgBdsWNwfUaFO.OzaFKxpcWF3L7Ay6"
      alt="logo"
      class="image"
    />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="loginCard">
      <!-- Email -->
      <div>
        <label class="label">Email Id</label>
        <input type="text" formControlName="email" class="input-field" placeholder="Enter email" />
        @if (f['email'].touched && f['email'].invalid) {
        <div class="error-message">
          @if (f['email'].errors?.['required']) { <span>Email is required.</span> } @if
          (f['email'].errors?.['email']) { <span>Enter a valid email.</span> }
        </div>
        }
      </div>
      <!-- password -->
      <div>
        <label class="label">Password</label>
        <input
          type="password"
          formControlName="password"
          class="input-field"
          placeholder="Enter password"
        />
        @if (f['password'].touched && f['password'].invalid) {
        <div class="error-message">
          @if (f['password'].errors?.['required']) { <span>Password is required.</span> } @if
          (f['password'].errors?.['minlength']) {
          <span>Password must be at least 6 characters.</span> }
        </div>
        }
      </div>

      @if (loginError) {
      <div class="error-message">{{ loginError }}</div>
      }
    </div>

    <div class="mt-6">
      <button type="submit" class="btn">Login</button>
    </div>

    <p class="p">
      Don't have an account?
      <a routerLink="/signup" class="route-link">Register here</a>
    </p>
  </form>
</div>
