<div
  class="card bg-opacity-95"
>
  <!-- Logo -->
  <div class="imageContainer">
    <img
      src="https://qtxasset.com/quartz/qcloud5/media/image/Zelis%20Primary%20Logo%20(Web)%20RGB-PNG%20Blue_0.png?VersionId=OCjgBdsWNwfUaFO.OzaFKxpcWF3L7Ay6"
      alt="logo"
      class="image"
    />
  </div>

  <!-- Register Form -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="signUpCard">
      <!-- Name -->
      <div>
        <label class="label">Name</label>
        <input
          type="text"
          formControlName="name"
          class="input-field"
          placeholder="Enter name"
        />
        @if (f['name'].touched && f['name'].invalid) {
        <div class="error-message">
          @if (f['name'].errors?.['required']) { <span>Name is required.</span> }
        </div>
        }
      </div>

      <!-- Email -->
      <div>
        <label class="label">Email</label>
        <input
          type="text"
          formControlName="email"
          class="input-field"
          placeholder="Enter email"
        />
        @if (f['email'].touched && f['email'].invalid) {
        <div class="error-message">
          @if (f['email'].errors?.['required']) { <span>Email is required.</span> } @if
          (f['email'].errors?.['email']) { <span>Enter a valid email.</span> }
        </div>
        }
      </div>

      <!-- Password -->
      <div>
        <label class="label">Password</label>
        <input
          type="password"
          formControlName="password"
          class="input-field"
          placeholder="Enter password"
        />
        @if (f['password'].touched && f['password'].invalid) {
        <div class="error-message">
          @if (f['password'].errors?.['required']) { <span>Password is required.</span> } @if
          (f['password'].errors?.['minlength']) {
          <span>Password must be at least 6 characters.</span> }
        </div>
        }
      </div>

      <!-- Confirm Password -->
      <div>
        <label class="label">Confirm Password</label>
        <input
          type="password"
          formControlName="cpassword"
          class="input-field"
          placeholder="Enter confirm password"
        />
        @if (f['cpassword'].touched && f['cpassword'].invalid) {
        <div class="error-message">
          @if (f['cpassword'].errors?.['required']) { <span>Confirm password is required.</span> }
        </div>
        } @if (registerForm.errors?.['passwordMismatch'] && (f['cpassword'].touched ||
        f['password'].touched)) {
        <div class="error-message">Passwords do not match.</div>
        }
      </div>

      <!-- Role -->
      <div>
        <label class="label">Role</label>
        <select
          formControlName="role"
          class="input-field"
        >
          <option value="">Select Role</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
        @if (f['role'].touched && f['role'].invalid) {
        <div class="error-message">
          @if (f['role'].errors?.['required']) { <span>Role is required.</span> }
        </div>
        }
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-6">
      <button
        type="submit"
        class="btn"
      >
        Create an account
      </button>
    </div>

    <!-- Login Link -->
    <p class="p">
      Already have an account?
      <a routerLink="/login" class="route-link">Login here</a>
    </p>
  </form>
</div>
