<div class="banner"></div>

<div class="flex flex-col justify-center items-center sm:h-screen p-4">
  <div
    class="w-full max-w-md sm:max-w-lg md:max-w-xl mx-auto border border-gray-300 rounded-2xl p-6 sm:p-8 bg-white/95 backdrop-blur-md shadow-lg relative z-10 mt-[-40px]"
  >
    <div class="text-center mb-6">
      <img
        src="https://qtxasset.com/quartz/qcloud5/media/image/Zelis%20Primary%20Logo%20(Web)%20RGB-PNG%20Blue_0.png?VersionId=OCjgBdsWNwfUaFO.OzaFKxpcWF3L7Ay6"
        alt="logo"
        class="w-32 sm:w-40 inline-block"
      />
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="space-y-5 sm:space-y-6">
        <!-- Name Field -->
        <div>
          <label class="text-slate-900 text-sm font-medium mb-2 block">Name</label>
          <input
            type="text"
            formControlName="name"
            class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 sm:px-4 py-2 sm:py-3 rounded-md outline-blue-500"
            placeholder="Enter name"
          />

          @if (f['name'].touched && f['name'].invalid) {
          <div class="text-red-500 text-xs mt-1">
            @if (f['name'].errors?.['required']) {
            <span>Name is required.</span>
            }
          </div>
          }
        </div>

        <!-- Email Field -->
        <div>
          <label class="text-slate-900 text-sm font-medium mb-2 block">Email Id</label>
          <input
            type="text"
            formControlName="email"
            class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 sm:px-4 py-2 sm:py-3 rounded-md outline-blue-500"
            placeholder="Enter email"
          />

          @if (f['email'].touched && f['email'].invalid) {
          <div class="text-red-500 text-xs mt-1">
            @if (f['email'].errors?.['required']) {
            <span>Email is required.</span>
            } @if (f['email'].errors?.['email']) {
            <span>Enter a valid email.</span>
            }
          </div>
          }
        </div>

        <!-- Password Field -->
        <div>
          <label class="text-slate-900 text-sm font-medium mb-2 block">Password</label>
          <input
            type="password"
            formControlName="password"
            class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 sm:px-4 py-2 sm:py-3 rounded-md outline-blue-500"
            placeholder="Enter password"
          />

          @if (f['password'].touched && f['password'].invalid) {
          <div class="text-red-500 text-xs mt-1">
            @if (f['password'].errors?.['required']) {
            <span>Password is required.</span>
            } @if (f['password'].errors?.['minlength']) {
            <span>Password must be at least 6 characters.</span>
            }
          </div>
          }
        </div>

        <!-- Confirm Password -->
        <div>
          <label class="text-slate-900 text-sm font-medium mb-2 block">Confirm Password</label>
          <input
            type="password"
            formControlName="cpassword"
            class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 sm:px-4 py-2 sm:py-3 rounded-md outline-blue-500"
            placeholder="Enter confirm password"
          />

          @if (f['cpassword'].touched && f['cpassword'].invalid) {
          <div class="text-red-500 text-xs mt-1">
            @if (f['cpassword'].errors?.['required']) {
            <span>Confirm password is required.</span>
            }
          </div>
          } @if (registerForm.errors?.['passwordMismatch'] && (f['cpassword'].touched ||
          f['password'].touched)) {
          <div class="text-red-500 text-xs mt-1">Passwords do not match.</div>
          }
        </div>

        <!-- Role -->
        <div>
          <label class="text-slate-900 text-sm font-medium mb-2 block">Role</label>
          <select
            formControlName="role"
            class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 sm:px-4 py-2 sm:py-3 rounded-md outline-blue-500"
          >
            <option value="">Select Role</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>

          @if (f['role'].touched && f['role'].invalid) {
          <div class="text-red-500 text-xs mt-1">
            @if (f['role'].errors?.['required']) {
            <span>Role is required.</span>
            }
          </div>
          }
        </div>
      </div>

      <div class="mt-10">
        <button
          type="submit"
          class="w-full py-3 text-sm tracking-wider font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 transition-all duration-200"
        >
          Create an account
        </button>
      </div>

      <p class="text-slate-600 text-sm mt-6 text-center">
        Already have an account?
        <a routerLink="/login" class="text-blue-600 font-medium hover:underline ml-1">
          Login here
        </a>
      </p>
    </form>
  </div>
</div>
