@reference "../../styles.css";
.card {
  @apply max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-6 sm:p-8 shadow-lg bg-white backdrop-blur-md relative z-10 mt-30;
}

.imageContainer {
  @apply text-center mb-4;
}

.image {
  @apply w-32 sm:w-36 inline-block;
}

.label {
  @apply text-slate-900 text-sm font-medium mb-1 block;
}

.input-field {
  @apply  text-slate-900 bg-white border border-gray-300 w-full text-sm px-3 py-2 rounded-md outline-blue-500
          transition-all duration-200 ease-in-out 
          focus:border-blue-600;
}

.error-message {
  @apply text-red-500 text-xs mt-1 font-medium;
}

.btn {
  @apply w-full py-2 sm:py-3 text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 transition-all duration-200
         ease-in-out hover:-translate-y-0.5 active:translate-y-0;
}

.p {
  @apply text-slate-600 text-sm mt-4 text-center;
}

.route-link {
  @apply text-blue-600 font-medium hover:underline ml-1;
}

.signUpCard {
  @apply space-y-4 sm:space-y-5;
}
:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 30px;
  background: linear-gradient(180deg, #0d003b 0%, #21004d 70%, #65537d 95%);
  min-height: 100vh;
}

.w-full.max-w-md,
.max-w-md {
  box-sizing: border-box;
  margin-top: 20px;
  transition: all 0.3s ease;
}

@media (min-width: 1201px) {
  .max-w-md {
    max-width: 350px;
    padding: 1.75rem;
    margin-top: 30px;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .max-w-md {
    max-width: 320px;
    padding: 1.5rem;
    margin-top: 25px;
  }
}

@media (max-width: 1024px) {
  :host {
    padding-top: 100px;
  }

  .max-w-md {
    max-width: 340px;
    margin-top: 20px;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  :host {
    padding-top: 80px;
  }

  .max-w-md {
    max-width: 90%;
    margin-top: 10px;
    padding: 1.25rem;
  }
}

@media (max-width: 480px) {
  :host {
    padding-top: 60px;
  }

  .max-w-md {
    max-width: 95%;
    padding: 1rem;
    margin-top: 5px;
  }
}
